name: "Static Analysis"
on: [ push, pull_request ]

jobs:
  Static-Analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Install Java
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"

      - name: Run Analysis
        run: mvn -V -B -U --no-transfer-progress clean verify
